{
    "presets": [
        "es2015",
        "es2017",
        "react",
        "survivejs-kanban"
    ],
    "env": {
        "start": {
            "presets" : [
                "react-hmre"
            ],
            "plugins" : [
                "typecheck"
            ]
        }
    }
}